<ion-header collapse="fade">
  <ion-toolbar color="dark">
    <ion-title>BestFuel</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-card [color]="color" id="card-inicial">
  <ion-card-header>
    <ion-card-title>{{ titulo }}</ion-card-title>
    <ion-card-subtitle>{{ opcao }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <img alt="Carrinho" src="https://i.pinimg.com/originals/5b/ac/0a/5bac0a81ff4f4e5fc957c3c468b72a6f.png" />
  </ion-card-content>
</ion-card>

<br>


<ion-content [fullscreen]="false" slot="fixed">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

<form [formGroup]="formulario" >

    <ion-list >
      <ion-item>
        <ion-input label="Álcool (R$)" labelPlacement="floating" placeholder=""  formControlName="alcool"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Gasolina (R$)" labelPlacement="floating" placeholder=""  formControlName="gasolina"></ion-input>
      </ion-item>
    </ion-list>
    <br>

    <ion-button shape="round" [disabled] = "formulario.invalid" (click)="calcular()">Calcular</ion-button>

    <br>


 
</form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Developed by João Victor
    </ion-title>
  </ion-toolbar>
</ion-footer>
